#letter {
  display: none;
}

.center {
  text-align: center;
}

.box-width {
  width: 25%;
}

.letter-box {
  width: auto;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  border: solid grey;
  background-color: whitesmoke;
}